<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My Workouts</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<script src="{{ url_for('static', filename='js/counter.js') }}"></script>
<body>
    <header>
        <h1>YTP</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>

                {% if 'username' in session %}
                <li><a href="{{ url_for('createworkout') }}">Create Workout</a></li>
                <li><a href="{{ url_for('weight_log') }}">Weight Tracker</a></li>
                <li><a href="{{ url_for('myworkouts') }}">My Workouts</a></li>
                <li><a href="{{ url_for('weight_log') }}">Weight Tracker</a></li>
                <li id="gym-counter">
                    Gym days this week: <span id="gym-days-counter">0</span>
                </li>
                <li><a href="/account">My Acount Info</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <h2>Your Workouts</h2>
        <ul id="workoutList"></ul> <! links to the js list code-->
    </main>

<script>
    async function fetchWorkouts() {
        const response = await fetch('/api/get-workouts');
        //send a post request to backend
        if (response.ok) {
            const responsedata = await response.json();
            const workoutList = document.getElementById('workoutList');


            const group = {};
            responsedata.workouts.forEach((item) => {
                const id = item.workout_id;

                group[id] = {
                    date: item.date,

                    exercises: []
                };

                group[id].exercises.push({
                    name: item.exercise,
                    sets: item.sets,
                    reps: item.reps,
                    weight: item.weight
                });
            });


            for (const id in group) {
                // now put the data in frontend
                // create a list element to display all workouts

                const li = document.createElement('li');
                li.classList.add('workoutindividual'); // class so we can have styling
                // having the background being darker for list elements seperated workouts.
                const a = document.createElement('a');
                a.href = `/workout/${id}`;
                a.textContent = group[id].date;
                li.appendChild(a);
                workoutList.appendChild(li);
            }

        }
    }

    fetchWorkouts();
</script>


</body>

</html>
