<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Workout View</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

  <header>
    <h1>YTP Exercise View</h1>
    <nav>
      <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li id="gym-counter">
                Gym days this week: <span id="gym-days-counter">0</span>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <h2>Workout (ID: {{ workout_id }})</h2>
    <ul>
      {% for exercise in exercises %}
      <li>
        <strong>Exercise:</strong> {{ exercise[0] }}<br>
        <strong>Sets:</strong> {{ exercise[1] }}<br>
        <strong>Rep Count:</strong> {{ exercise[2] }}<br>
        <strong>Weight:</strong> {{ exercise[3] }} kg
      </li>
      {% endfor %}
    </ul>
    <a href="{{ url_for('myworkouts') }}">Back to My Workouts</a>
  </main>
</body>
</html>
